.local_sdk/
.hvigor/
.idea/
.vscode/
.codeartsdoer/
.appanalyzer/
native_rust_core/target/
**/target/
native_rust_core/cargo-check.log

entry/build/
**/build/
entry/.cxx/

*.hap
*.a
*.so
*.dll
*.exe
*.o
*.obj

node_modules/
.cxx/
.hvigor/

backup_*/
*.log
*.tmp
*.bak

entry/src/main/libs/arm64/librustdesk_core.a
